.header {
  width: 100%;
  top: 0px;
  background-color: #fafafa;
  padding: 30px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 22px;
}

.header__left {
  font-family: "Beth Ellen", cursive;
  margin-left: 40px;
  align-items: center;
}

.header__right {
  width: 90px;
  margin-right: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
