.main__main {
  margin: 20px auto;
  width: 97%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 4%;
}

.main__wrapper {
  width: 93%;
  height: 620px;
  backgroud-color: white;
  border-radius: 5%;
}

.main__top {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main__left {
  margin-left: 20px;
  display: flex;
}

.main__left a {
  color: inherit;
  font-size: 30px;
  align-self: center;
  margin-right: 30px;
}

.main__left-text {
  margin-left: 10px;
  font-family: "Oswald", sans-serif;
}

.main__left-status {
  display: block;
  margin-top: 10px;
  font-family: "Oswald", sans-serif;
  font-weight: 200;
}

.main__right {
  font-size: 28px;
  margin-right: 20px;
}

.main__left-user {
  display: block;
}

.main .main__left-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
    0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  display: inline;
}

.main__image-wrapper {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__image-link {
  width: 650px;
  height: 470px;
  display: flex;
  justify-content: center;
  border-radius: 5%;
  overflow: hidden;
}

.main__image {
  width: 650px;
  height: 470px;
  border-radius: 5%;
  box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.2),
    0 18px 36px -18px rgba(0, 0, 0, 0.12), 0 -12px 36px -8px rgba(0, 0, 0, 0.01);
}

.main__btns {
  width: 100%;
  font-family: "Oswald", sans-serif;
  font-weight: 200;
  font-size: 12px;
  margin-top: 15px;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main__btns-left {
  margin-left: 30px;
  align-items: center;
}

.main__btns-right {
  width: 37px;
  display: flex;
  align-items: center;
}

.main__btns-text {
  margin-right: 40px;
}
